client/vision/vosk-model-en-us-0.22/README
client/vision/vosk-model-en-us-0.22/am/final.mdl
client/vision/vosk-model-en-us-0.22/am/tree
client/vision/vosk-model-en-us-0.22/conf/ivector.conf
client/vision/vosk-model-en-us-0.22/conf/mfcc.conf
client/vision/vosk-model-en-us-0.22/conf/model.conf
client/vision/vosk-model-en-us-0.22/graph/disambig_tid.int
client/vision/vosk-model-en-us-0.22/graph/HCLG.fst
client/vision/vosk-model-en-us-0.22/graph/num_pdfs
client/vision/vosk-model-en-us-0.22/graph/phones.txt
client/vision/vosk-model-en-us-0.22/graph/words.txt
client/vision/vosk-model-en-us-0.22/graph/phones/align_lexicon.int
client/vision/vosk-model-en-us-0.22/graph/phones/align_lexicon.txt
client/vision/vosk-model-en-us-0.22/graph/phones/disambig.int
client/vision/vosk-model-en-us-0.22/graph/phones/disambig.txt
client/vision/vosk-model-en-us-0.22/graph/phones/optional_silence.csl
client/vision/vosk-model-en-us-0.22/graph/phones/optional_silence.int
client/vision/vosk-model-en-us-0.22/graph/phones/optional_silence.txt
client/vision/vosk-model-en-us-0.22/graph/phones/silence.csl
client/vision/vosk-model-en-us-0.22/graph/phones/word_boundary.int
client/vision/vosk-model-en-us-0.22/graph/phones/word_boundary.txt
client/vision/vosk-model-en-us-0.22/ivector/final.dubm
client/vision/vosk-model-en-us-0.22/ivector/final.ie
client/vision/vosk-model-en-us-0.22/ivector/final.mat
client/vision/vosk-model-en-us-0.22/ivector/global_cmvn.stats
client/vision/vosk-model-en-us-0.22/ivector/online_cmvn.conf
client/vision/vosk-model-en-us-0.22/ivector/splice.conf
client/vision/vosk-model-en-us-0.22/rescore/G.carpa
client/vision/vosk-model-en-us-0.22/rescore/G.fst
client/vision/vosk-model-en-us-0.22/rnnlm/feat_embedding.final.mat
client/vision/vosk-model-en-us-0.22/rnnlm/final.raw
client/vision/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.conf
client/vision/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.txt
client/vision/vosk-model-en-us-0.22/rnnlm/word_feats.txt
.env